<nav class="site-toc" aria-label="Site navigation">
  <section>
    <p class="subhead">The Guide</p>
    <ul>
      <li><a href="/entries/">Index of entries</a></li>
      <li><a href="/taxonomy/">Genera</a></li>
      <li><a href="/status/">Statuses</a></li>
    </ul>
  </section>
  <section>
    <p class="subhead">Arguments</p>
    <ul>
      <li><a href="/marginalia/">Marginalia</a></li>
      <li><a href="/sightings/">Disputed sightings</a></li>
    </ul>
  </section>
  <section>
    <p class="subhead">The Society</p>
    <ul>
      <li><a href="/about/">Charter &amp; bylaws</a></li>
    </ul>
  </section>
  <section>
    <p class="subhead">Editions</p>
    <ul>
      <li><a href="/editions/">Current edition</a></li>
    </ul>
  </section>
</nav>
